<footer>
  <ul class="footer">
    <li class="footer__link">
      <%= mail_to "j%73%74o%6Cz12%33@%67ma%69%6C.co%6D", "Email" %>
    </li>
    <li class="footer__link">
      <%= link_to "Github", "https://github.com/jeffstolz" %>
    </li>
    <li class="footer__link">
      <%= link_to "Linkedin", "https://www.linkedin.com/in/jeff-stolz-17666725/" %>
    </li>
  </ul>
</footer>
