<nav>
  <ul id="navbar-top" class="navbar">
    <li class="navbar__name">
      <span class="navbar__name--impact">Jeff</span>Stolz
    </li>
    <div class="navbar__link-list">
      <li class="navbar__link">
        <%= link_to t("navbar.work-heading"), "index.html" %>
      </li>
      <li class="navbar__link">
        <%= link_to t("navbar.about-heading"), "about.html" %>
      </li>
      <li class="navbar__link">
        <%= link_to t("navbar.contact-heading"), "contact.html" %>
      </li>
    </div>
    <li class="navbar__mobile">
      <% link_to do %>
        <%= svg "hamburger" %>
      <% end %>
    </li>
  </ul>
</nav>

<script>
  function myFunction() {
    var x = document.getElementById("navbar-top");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
  }
</script>
