<nav>
  <ul class="navbar">
    <li class="navbar__name"><span class="navbar__name--impact">Jeff</span>Stolz</li>
    <li class="navbar__link"><%= link_to t("navbar.work"), "index.html" %></li>
    <li class="navbar__link"><%= link_to t("navbar.about"), "about.html" %></li>
    <li class="navbar__link"><%= link_to t("navbar.contact"), "contact.html" %></li>
  </ul>
</nav>
