<nav>
  <ul class="top-nav">
    <li class="top-nav__name"><span class="top-nav__name--impact">Jeff</span>Stolz</li>
    <li class="top-nav__link"><%= link_to 'Work', 'views/work.html' %></li>
    <li class="top-nav__link"><%= link_to 'About', 'views/about.html' %></li>
    <li class="top-nav__link"><%= link_to 'Contact', 'views/contact.html' %></li>
  </ul>
</nav>