.about__profile {
    max-width: 100%;
}

.about__section {
    display: flex;
    flex-direction: column;
    @include breakpoint($breakpoint-medium) {
        flex-direction: row;
    }
}

.about__section-header {
    flex: 2;
}

.about__section-content {
    flex: 3;
}
