.index {
  padding-top: $spacing-small;
  text-align: center;
}

.index__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $spacing-base;
  margin-top: $spacing-medium;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing-large;
  }

  @include breakpoint($breakpoint-large) {
    flex-direction: row;
  }
}

.index__case {
  @include margin(null auto);
  margin-bottom: $spacing-base;
  max-width: $index-max-width;
  position: relative;

  @include breakpoint($breakpoint-large) {
    @include margin(null $spacing-small);
  }
}

.index__case--overlay {
  @include position(absolute, 0);
  align-items: center;
  background-color: $teal-transparent;
  color: $white;
  display: flex;
  opacity: 0;
}

.index__case:hover .index__case--overlay {
  opacity: 1;
}

.index__case-heading {
  @include margin($spacing-small $spacing-base);
  position: absolute;
}

.index__case:hover .index__case-heading {
  color: $white;
}

.index__case-description {
  color: $white;
  margin: 0 auto;
  width: 80%;

  @include breakpointBetween($breakpoint-x-large, $breakpoint-large) {
    font-size: $font-size-small;
  }
}

.index__thumbnail {
  background-color: $very-light-gray;
}
