.index {
    text-align: center;
    padding-top: $spacing-small;
}

.index__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-base;

    @include breakpoint($breakpoint-medium) {
        padding: $spacing-large;
    }

    @include breakpoint($breakpoint-large) {
        flex-direction: row;
    }
}

.index__thumbnail {
    background-color: $very-light-gray;
    max-width: 95%;
    margin-bottom: $spacing-base;
}