.navbar {
  display: flex;
  padding: $spacing-base;
}

.navbar__link {
  padding-left: $spacing-medium;
}

.navbar__link-list {
  display: none;

  @include breakpoint($breakpoint-medium) {
    display: flex;
  }
}

.navbar__mobile {
  @include breakpoint($breakpoint-medium) {
    visibility: hidden;
  }
}

.navbar__icon {
  fill: $teal;
}

.navbar__name {
  flex: 1;
  font-size: $font-size-x-large;
  font-weight: $font-weight-light;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint($breakpoint-medium) {

  }
}

.navbar__name--impact {
  color: $teal;
  font-weight: $font-weight-bold;
}
