.navbar {
  display: flex;
  padding: $spacing-base;
}

.navbar__link {
  padding-left: $spacing-medium;
}

.navbar__link-list {
  display: none;

  @include breakpoint($breakpoint-medium) {
    display: flex;
  }
}

.navbar__hamburger {
  @include breakpoint($breakpoint-medium) {
    display: none;
  }
}

.navbar__name {
  flex: 1;
  font-size: $font-size-x-large;
  font-weight: $font-weight-light;
  line-height: 1;
  text-transform: uppercase;
}

.navbar__name--impact {
  color: $teal;
  font-weight: $font-weight-bold;
}

.navbar.responsive {
  .navbar__link-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: $spacing-x-large + $spacing-small;
    left: 0;
    background: $dark-gray;
    color: $white;
    @include padding($spacing-medium 0);
    text-align: center;
    z-index: 1;
  }
  .navbar__link {
    padding-left: 0;
    color: $white;
  }
}
