.top-nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include breakpoint($breakpoint-medium) {
        flex-direction: row;
        padding: $spacing-small $spacing-base;
        text-align: left;
    }
}

.top-nav__name {
    flex: 1;
    font-size: $font-size-x-large;
    font-weight: $font-weight-light;
    margin-bottom: $spacing-small;
    text-transform: uppercase;

    @include breakpoint($breakpoint-medium) {
        padding-left: $spacing-base;
    }
}

.top-nav__name--impact {
    color: $teal;
	font-weight: $font-weight-bold;
}

.top-nav__link {
	padding: $spacing-small $spacing-base;
}