

body {
	font-family: $base-font-family;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $teal;
	&:hover {
		color: $teal-dark;
	}
}

.main-nav {
	display: flex;
	padding: $small-spacing $base-spacing;
}

.main-nav__name {
	flex: 1;
	font-size: $logo-font-size;
	text-transform: uppercase;
	font-weight: $light-font-weight;
}

.main-nav__name--bold {
	font-weight: $heavy-font-weight;
	color: $teal;
}

.main-nav__link {
	padding: $base-spacing;
}
