ul {
	list-style: none;
	padding: 0rem;
}

a {
	text-decoration: none;
	color: $teal;
	&:hover {
		color: $teal-dark;
	}
}

.layout {
	max-width: 60em;
	@include margin($spacing-base);

    @include breakpoint($breakpoint-medium) {
		@include margin($spacing-large auto null auto);
    }
}
