html {
    font-family: $font-family-base;
}

h1, h2, h3 {
    @include margin(0rem);
}

h1 {
    font-size: $font-size-xx-large;
}

h2 {
    font-size: $font-size-x-large;
}

h3 {
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
}
