// Breakpoints
$breakpoint-medium: 40rem;
$breakpoint-large: 55rem;

// Colors
$teal: #118288;
$teal-dark: mix($teal, black, 80%);
$teal-transparent: rgba($teal, 0.7);
$very-light-gray: #f2f2f2;
$light-gray: #ccc;
$gray: #666;
$white: #fff;

// Font Sizes
$font-size-base: 1rem;
$font-size-x-small: 0.5rem;
$font-size-small: 0.75rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-x-large: 2rem;
$font-size-xx-large: 3rem;

// Font Weights
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;

//Line Heights
$line-height-base: 1.7;
$line-height-medium: 2.55;

// Spacing
$spacing-base: 1.5em;
$spacing-small: 0.75em;
$spacing-x-small: 0.5em;
$spacing-medium: 3em;
$spacing-large: 4.5em;
$spacing-x-large: 6em;
$spacing-xx-large: 9em;
$spacing-xxx-large: 13.5em;

//Other Sizes
$index-max-width: 25em;
$page-max-width: 65em;

// Typography
$font-family-base: $font-stack-helvetica;
