  <nav>
    <ul class="main-nav">
      <li class="main-nav__name"><span class="main-nav__name--bold">Jeff</span>Stolz</li>
        <li><%= link_to 'Work', '/work.html' %></li>
        <li><%= link_to 'About', '/about.html' %></li>
        <li><%= link_to 'Contact', '/contact.html' %></li>
    </ul>
  </nav>