  <nav>
    <ul class="main-nav">
      <li class="main-nav__name"><span class="main-nav__name--bold">Jeff</span>Stolz</li>
        <li>Work</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
  </nav>