---
title: Jeff Stolz - Contact
---

<main class="split-layout">
  <section class="split-layout__section">
    <h1 class="split-layout__section-header">
      <%= t("contact.thanks") %>
    </h1>
    <div class="split-layout__section-content">
      <p>
        <%= t("contact.contact-content") %>
        <%= mail_to "j%73%74o%6Cz12%33@%67ma%69%6C.co%6D", "here." %>
      </p>
    </div>
  </section>
</main>
