---
title: Case Study - HMH Marketplace
---

<main class="split-layout">

  <h1><%= t("universal.hmh-heading") %></h1>
  <p><%= t("universal.case-study-heading") %></p>
  <h4 class="work__overview"><%= t("hmh.overview-heading") %></h4>
  <%= image_tag(
    "hmh-overview.jpg",
    class: "work__image--large-spacing work__image--border",
    alt: t("hmh.overview-alt"),
  ) %>

</main>
